[Unit]
Description=XCP-ng feature daemon
After=message-switch.service syslog.target
Wants=message-switch.service syslog.target
PartOf=toolstack.target

[Service]
Type=notify
Restart=on-failure
NotifyAccess=all
ExecStart=/opt/xensource/libexec/v6d
StandardError=null

[Install]
WantedBy=multi-user.target
